Визуализация данных в Matplotlib/creditcard.csv
Визуализация данных в Matplotlib/archive.zip
Визуализация данных в Matplotlib/.ipynb_checkpoints/
Вычисления с помощью Numpy/.ipynb_checkpoints/
Обучение с учителем/.ipynb_checkpoints/
Обучение без учителя/5_Обучение_без_учителя_в_Scikit_learn.ipynb
Обучение без учителя/.ipynb_checkpoints/
Курсовая работа/.ipynb_checkpoints/
